# Keep only large Unity build artifacts in Git LFS.
public/games/necrolist/Build/*.data filter=lfs diff=lfs merge=lfs -text
public/games/necrolist/Build/*.framework.js filter=lfs diff=lfs merge=lfs -text
public/games/necrolist/Build/*.jpg filter=lfs diff=lfs merge=lfs -text
public/games/necrolist/Build/*.loader.js filter=lfs diff=lfs merge=lfs -text
public/games/necrolist/Build/*.wasm filter=lfs diff=lfs merge=lfs -text
